{{- $email := promptStringOnce . "email" "Email address:" -}}

[data]
  email = {{ $email | quote }}


[edit]
    command = "nvim"

[diff]
  command = "nvim"
  args = "-d"

[merge]
  command = "nvim"
  args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
